<div>
  <app-loader *ngIf="isLoading" />
  <div *ngIf="!isLoading">
    <div class="flex">
      <h1 class="heading">All Posts</h1>

      <div class="button-container" *ngIf="userId">
        <button
          mat-fab
          color="accent"
          aria-label="Icon button with a add icon"
          class="button"
          routerLink="/blog/create"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>

    <div *ngIf="errored" class="info-alert">
      <p>Something went wrong. Please try again.</p>
    </div>

    <ng-container *ngIf="!errored">
      <div *ngIf="posts.length === 0" class="info-alert">
        <p>No posts available. Start by creating a new post!</p>
      </div>

      <div class="posts-container" *ngIf="posts?.length">
        <post-item *ngFor="let post of posts" [post]="post" class="post-item" />
      </div>
    </ng-container>
  </div>
</div>
