.posts-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.heading {
  text-align: center;
  margin: 24px auto;
  font-size: 35px;
  color: #004658;
  font-family: "Times New Roman", Times, serif;
}

.post-item {
  margin: 10px;
}
