<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="card-header-image"></div>
    <mat-card-title>{{ post.title | slice : 20 }}</mat-card-title>
    <mat-card-subtitle>{{
      post.category || "Uncategorized"
    }}</mat-card-subtitle>
  </mat-card-header>

  <img
    mat-card-image
    [src]="post.imageUrl"
    [alt]="'Photo of ' + post.title"
    class="image"
  />

  <mat-card-content class="card-content">
    <p class="text-sm">Created: {{ post.created | displayDate }}</p>
    <p class="post-content">
      {{ post.content | slice }}
    </p>
  </mat-card-content>

  <mat-card-actions>
    <button
      mat-button
      color="accent"
      class="button"
      [routerLink]="[post.objectId, 'details']"
    >
      View
    </button>
  </mat-card-actions>
</mat-card>
