<div class="container">
  <div class="header">
    <h1 class="title">Welcome to Pet Care Forum</h1>
    <p class="subtitle">
      A place to share and learn about caring for our furry friends
    </p>
  </div>

  <div class="button-wrapper">
    <button
      mat-flat-button
      color="accent"
      class="button"
      routerLink="/blog/create"
      (click)="navigate()"
    >
      Add a New Post
    </button>
  </div>

  <div class="image-container">
    <img src="../../assets/pet_care.jpg" alt="'Photo of" />
  </div>

  <div class="recent-posts" *ngIf="posts.length">
    <h2>Recent Posts</h2>
    <div class="post" *ngFor="let post of posts">
      <div class="post-content">
        <img
          [src]="post.imageUrl"
          [alt]="'Photo of animals and vets' + post.title"
        />
        <div>
          <h3
            class="post-title"
            [routerLink]="['/blog', post.objectId, 'details']"
          >
            {{ post.title | slice : 80 }}
          </h3>
          <p class="post-description">
            {{ post.content | slice }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
