<mat-toolbar class="header">
  <button
    mat-icon-button
    class="icon-button"
    aria-label="icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <span>Pet Care</span>

  <a
    mat-icon-button
    class="icon-button"
    aria-label="icon-button with home icon"
    routerLink="/home"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
  >
    <mat-icon>home</mat-icon>
  </a>

  <a
    mat-icon-button
    class="icon-button"
    aria-label="icon-button with dashboard icon"
    routerLink="/blog"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
  >
    <mat-icon>dashboard</mat-icon>
    <span class="label">Dashboard</span>
  </a>

  <span class="spacer"></span>

  <span *ngIf="userName">Hi, {{ userName }}</span>
  <button
    *ngIf="isLoggedIn"
    mat-icon-button
    class="icon-button favorite-icon"
    aria-label="icon-button with heart icon"
    routerLink="/profile"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
  >
    <mat-icon>favorite</mat-icon>
  </button>

  <a
    *ngIf="!isLoggedIn"
    mat-icon-button
    class="icon-button"
    aria-label="icon-button with login icon"
    routerLink="/login"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
  >
    <mat-icon>input</mat-icon>
  </a>

  <a
    *ngIf="!isLoggedIn"
    mat-icon-button
    class="icon-button"
    aria-label="icon-button with register icon"
    routerLink="/register"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
  >
    <mat-icon>input</mat-icon>
  </a>

  <a
    *ngIf="isLoggedIn"
    mat-icon-button
    class="icon-button"
    aria-label="icon-button with logout icon"
    routerLink="/logout"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    (click)="logout()"
  >
    <mat-icon>input</mat-icon>
  </a>
</mat-toolbar>
