<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="icon-button"
    aria-label="icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <span>Pet Care</span>

  <button
    mat-icon-button
    class="icon-button"
    aria-label="icon-button with home icon"
  >
    <mat-icon>home</mat-icon>
  </button>

  <button
    mat-icon-button
    class="icon-button"
    aria-label="icon-button with dashboard icon"
  >
    <mat-icon>dashboard</mat-icon>
    <span class="label">Dashboard</span>
  </button>

  <span class="spacer"></span>

  <button
    mat-icon-button
    class="icon-button favorite-icon"
    aria-label="icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="icon-button"
    aria-label="icon-button with login icon"
  >
    <mat-icon>input</mat-icon>
  </button>

  <button
    mat-icon-button
    class="icon-button"
    aria-label="icon-button with logout icon"
  >
    <mat-icon>input</mat-icon>
  </button>
</mat-toolbar>
