.container {
  max-width: 600px;
  margin: 50px auto;
}

.card {
  min-height: 316px;
}

.w-full {
  width: 100%;
}

h2 {
  color: #027b9a;
  margin-bottom: 24px;
}

p {
  margin: 0;
  color: #027b9a;
}

.form-actions {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  background-color: #027b9a;
}

.spinner {
  margin: auto;
}

.error {
  background-color: #fdb73e;
  color: #027b9a;
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 400;
}
