<div class="container">
  <mat-card class="card">
    <mat-card-content>
      <h2>Welcome to Pet Care Login</h2>

      <mat-spinner *ngIf="loading" color="accent" class="spinner"></mat-spinner>

      <ng-container *ngIf="!loading">
        <mat-card *ngIf="errored" class="error">
          <mat-card-content>
            Unsuccessful login - wrong username or password!
          </mat-card-content>
        </mat-card>

        <form #form="ngForm" (ngSubmit)="login(form)">
          <mat-form-field class="w-full" appearance="fill">
            <mat-label>Enter your email</mat-label>

            <input
              #inputEmail="ngModel"
              matInput
              name="email"
              ngModel
              placeholder="john.doe@gmail.com"
              required
              type="email"
              [appEmail]="['bg', 'com']"
            />

            <mat-error *ngIf="inputEmail.errors?.['required']">
              Email is required!
            </mat-error>

            <mat-error *ngIf="inputEmail.errors?.['emailValidator']">
              Email is invalid!
            </mat-error>
          </mat-form-field>

          <mat-form-field class="w-full" appearance="fill">
            <mat-label>Password</mat-label>

            <input
              #inputPassword="ngModel"
              matInput
              minlength="6"
              name="password"
              ngModel
              placeholder="Enter your password"
              required
              type="password"
            />

            <mat-error *ngIf="inputPassword.errors?.['required']">
              Password is required!
            </mat-error>

            <mat-error *ngIf="inputPassword.errors?.['minlength']">
              Password should be at least 6 characters long!
            </mat-error>
          </mat-form-field>

          <div class="form-actions">
            <p>
              Don't have an account?
              <a routerLink="/user/register">Register</a>
            </p>

            <button mat-fab extended class="button">Login</button>
          </div>
        </form>
      </ng-container>
    </mat-card-content>
  </mat-card>
</div>
