<div class="new-theme-border">
  <div class="header-background">
    <span>New Theme</span>
  </div>
  <form
    (submit)="
      createPost(inputPostName.value, textareaPostText.value);
      $event.preventDefault()
    "
  >
    <div class="new-theme-title">
      <label for="postName">Title <span class="red">*</span></label>
      <input type="text" name="postName" id="postName" #inputPostName />
      <p class="error">Theme name is required.</p>
      <p class="error">Theme name must be at least 5 characters long.</p>
    </div>
    <div class="new-theme-content">
      <label for="postText">Post <span class="red">*</span></label>
      <textarea
        type="text"
        name="postText"
        id="postText"
        rows="8"
        class="height"
        #textareaPostText
      ></textarea>
      <p class="error">The field with your post is required.</p>
      <p class="error">Post must be at least 10 characters long.</p>
    </div>
    <div class="new-theme-buttons">
      <button class="cancel">Cancel</button>
      <button class="public" type="submit">Post</button>
    </div>
  </form>
</div>
