<div class="container">
  <mat-card class="card">
    <mat-card-content>
      <h2>Create New Post</h2>

      <mat-card *ngIf="!loading && errored" class="error">
        <mat-card-content>
          Opps, something went wrong. Please try again later.
        </mat-card-content>
      </mat-card>

      <form #form="ngForm" (ngSubmit)="createPost(form)">
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Enter post title</mat-label>

          <input
            matInput
            name="title"
            type="text"
            minlength="5"
            required
            ngModel
            #inputTitle="ngModel"
          />

          <mat-error *ngIf="inputTitle.errors?.['required']">
            Title is required!
          </mat-error>

          <mat-error *ngIf="inputTitle.errors?.['minlength']">
            Title should be at least 5 characters long.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Enter post content</mat-label>

          <textarea
            matInput
            name="content"
            minlength="10"
            required
            ngModel
            #textareaContent="ngModel"
          ></textarea>

          <mat-error *ngIf="textareaContent.errors?.['required']">
            Content is required!
          </mat-error>

          <mat-error *ngIf="textareaContent.errors?.['minlength']">
            Content should be at least 10 characters long.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Enter image url</mat-label>

          <input
            matInput
            name="imageUrl"
            type="text"
            ngModel
            #inputImageUrl="ngModel"
          />
        </mat-form-field>

        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Select category</mat-label>
          <mat-select name="category" ngModel #selectCategory="ngModel">
            <mat-option value="Breed">Breed</mat-option>
            <mat-option value="Behavior">Behavior</mat-option>
            <mat-option value="Food">Food</mat-option>
            <mat-option value="General">General</mat-option>
            <mat-option value="Tips">Tips</mat-option>
          </mat-select>
        </mat-form-field>

        <div class="form-actions">
          <button mat-fab extended class="button-secondary">Cancel</button>
          <button mat-fab extended class="button-primary" [disabled]="loading">
            Create
          </button>
        </div>
      </form>

      <mat-card-footer>
        <mat-progress-bar
          *ngIf="loading"
          mode="indeterminate"
          color="accent"
        ></mat-progress-bar>
      </mat-card-footer>
    </mat-card-content>
  </mat-card>
</div>
