<div class="container">
  <mat-card class="card">
    <mat-card-content>
      <h2>Create New Post</h2>

      <form #form="ngForm" (ngSubmit)="createPost(form)">
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Enter post title</mat-label>

          <input
            matInput
            name="title"
            type="text"
            minlength="5"
            required
            ngModel
            #inputTitle="ngModel"
          />

          <mat-error *ngIf="inputTitle.errors?.['required']">
            Title is required!
          </mat-error>

          <mat-error *ngIf="inputTitle.errors?.['minlength']">
            Title should be at least 5 characters long.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Enter post content</mat-label>

          <input
            matInput
            name="content"
            type="text"
            minlength="10"
            required
            rows="8"
            ngModel
            #textareaContent="ngModel"
          />

          <mat-error *ngIf="textareaContent.errors?.['required']">
            Content is required!
          </mat-error>

          <mat-error *ngIf="textareaContent.errors?.['minlength']">
            Content should be at least 10 characters long.
          </mat-error>
        </mat-form-field>

        <div class="form-actions">
          <button mat-fab extended class="button-secondary">Cancel</button>
          <button mat-fab extended class="button-primary">Create</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
