<div class="container">
  <mat-card class="card">
    <mat-card-content>
      <h2>Create your account</h2>

      <form>
        <!-- username -->
        <mat-form-field class="w-full" appearance="fill">
          <input type="text" matInput placeholder="Username" required />
        </mat-form-field>

        <!-- email -->
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Enter your email</mat-label>
          <!-- [formControl]="email" -->

          <input
            matInput
            name="email"
            placeholder="pat@example.com"
            required
            placeholder="john.doe@gmail.com"
            #inputEmail
          />
          <!-- <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error> -->
        </mat-form-field>

        <!-- <p class="error">
                    Email is required!
                </p>
                <p class="error">
                    Email is not valid!
                </p> -->

        <!-- password -->
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Password</mat-label>
          <!-- [(ngModel)]="password" -->

          <input
            matInput
            placeholder="Enter your password"
            value=""
            name="password"
            type="password"
            #inputPassword
          />
        </mat-form-field>
        <!-- <p class="error">
                    Password is required!
                </p>
                <p class="error">
                    Password must be at least 4 characters!
                </p> -->

        <!-- rePassword -->
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Password</mat-label>
          <!-- [(ngModel)]="password" -->

          <input
            matInput
            placeholder="Enter your password"
            value=""
            name="rePassword"
            type="password"
            #inputRePassword
          />
        </mat-form-field>
        <!-- <p class="error">Repeat Password does not match password!</p> -->

        <button disabled>Create Account</button>

        <p>
          Have an account?
          <a routerLink="/login">Log In</a>
        </p>
      </form>
    </mat-card-content>
  </mat-card>
</div>
