<div class="container">
  <mat-card class="card">
    <mat-card-content>
      <h2>Create your account</h2>

      <form [formGroup]="form" (ngSubmit)="register()">
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Enter your username</mat-label>

          <input
            formControlName="name"
            matInput
            name="name"
            placeholder="Username"
            required
            type="text"
          />

          <mat-error *ngIf="form.get('name')?.errors?.['required']">
            Username is required!
          </mat-error>

          <mat-error *ngIf="form.get('name')?.errors?.['minlength']">
            Username should be at least 5 characters long!
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Enter your email</mat-label>

          <input
            formControlName="email"
            matInput
            name="email"
            placeholder="john.doe@gmail.com"
            type="email"
          />
          <mat-error *ngIf="form.get('email')?.errors?.['required']">
            Email is required!
          </mat-error>

          <mat-error *ngIf="form.get('email')?.errors?.['emailValidator']">
            Email is invalid!
          </mat-error>
        </mat-form-field>

        <ng-container formGroupName="passGroup">
          <mat-form-field class="w-full" appearance="fill">
            <mat-label>Password</mat-label>

            <input
              formControlName="password"
              matInput
              name="password"
              placeholder="Enter your password"
              type="password"
            />

            <mat-error *ngIf="passGroup?.get('password')?.errors?.['required']">
              Password is required!
            </mat-error>

            <mat-error
              *ngIf="passGroup?.get('password')?.errors?.['minlength']"
            >
              Password should be at least 6 characters long!
            </mat-error>
          </mat-form-field>

          <mat-form-field class="w-full" appearance="fill">
            <mat-label>Repeat Password</mat-label>

            <input
              matInput
              placeholder="Enter your repeat password"
              name="rePassword"
              type="password"
              formControlName="rePassword"
            />
          </mat-form-field>
          <mat-error
            *ngIf="
              this.passGroup?.get('rePassword')?.touched && hasRePasswordError
            "
            class="error"
          >
            Passwords does not match!
          </mat-error>
        </ng-container>

        <div class="form-actions">
          <p>
            Already have an account?
            <a routerLink="/login">Log In</a>
          </p>

          <button mat-fab extended class="button">Register</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
